In [2]:
from sklearn.linear_model import LinearRegression

In [3]:
import numpy as np

In [4]:
X = np.array([[1, 1], [1, 2], [2, 2], [2, 3]])

In [5]:
y = np.dot(X, np.array([1, 2])) + 3

In [13]:
reg = LinearRegression()

In [11]:
reg.get_params()

{'copy_X': True,
 'fit_intercept': True,
 'n_jobs': None,
 'normalize': False,
 'positive': False}

In [16]:
reg = LinearRegression().fit(X, y)

In [19]:
reg.get_params(deep=True)

{'copy_X': True,
 'fit_intercept': True,
 'n_jobs': None,
 'normalize': False,
 'positive': False}

In [29]:
from sklift.datasets import fetch_lenta

In [53]:
data = fetch_lenta()

In [54]:
data.keys()

dict_keys(['data', 'target', 'treatment', 'DESCR', 'feature_names', 'target_name', 'treatment_name'])

In [55]:
df = data['data']

In [56]:
data['target'].value_counts()

0    612661
1     74368
Name: response_att, dtype: int64

In [57]:
df.loc[:, 'target'] = data['target']

In [58]:
data['treatment'].value_counts()

test       515892
control    171137
Name: group, dtype: int64

In [59]:
df.loc[:, 'treatment'] = data['treatment']

In [60]:
data['treatment_name']

'group'

In [62]:
df

,age,cheque_count_12m_g20,cheque_count_12m_g21,cheque_count_12m_g25,cheque_count_12m_g32,cheque_count_12m_g33,cheque_count_12m_g38,cheque_count_12m_g39,cheque_count_12m_g41,cheque_count_12m_g42,...,sale_sum_6m_g26,sale_sum_6m_g32,sale_sum_6m_g33,sale_sum_6m_g44,sale_sum_6m_g54,stdev_days_between_visits_15d,stdev_discount_depth_15d,stdev_discount_depth_1m,target,treatment
0,47.0,3.0,22.0,19.0,3.0,28.0,8.0,7.0,6.0,1.0,...,237.25,283.84,3648.23,1195.37,535.42,1.7078,0.2798,0.3008,0,test
1,57.0,1.0,0.0,2.0,1.0,1.0,1.0,0.0,1.0,0.0,...,58.71,87.01,179.83,0.00,122.98,0.0000,0.0000,0.0000,0,test
2,38.0,7.0,0.0,15.0,4.0,9.0,5.0,9.0,14.0,7.0,...,83.37,593.13,1217.43,1336.83,3709.82,0.0000,NaN,0.0803,0,control
3,65.0,6.0,3.0,25.0,2.0,10.0,14.0,11.0,8.0,1.0,...,360.40,175.73,496.73,172.58,1246.21,0.0000,0.0000,0.0000,0,test
4,61.0,0.0,1.0,2.0,0.0,2.0,1.0,0.0,3.0,2.0,...,461.37,0.00,237.93,225.51,995.27,1.4142,0.3495,0.3495,0,test
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
687024,35.0,0.0,0.0,4.0,0.0,2.0,0.0,1.0,0.0,3.0,...,111.87,0.00,330.96,1173.84,119.99,2.6458,0.3646,0.3282,0,control
687025,33.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.00,0.00,0.00,0.00,28.01,0.0000,0.0000,0.0000,0,test
687026,36.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.00,0.00,0.00,449.01,0.00,0.0000,NaN,NaN,0,control
687027,37.0,0.0,1.0,2.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.00,0.00,0.00,0.00,0.00,0.0000,NaN,NaN,0,control
687028,40.0,0.0,1.0,0.0,0.0,2.0,0.0,0.0,2.0,2.0,...,0.00,0.00,228.47,752.32,596.86,0.0000,0.0000,0.0000,0,test

In [63]:
df.to_pickle('./test_data.pkl')

In [65]:
import pandas as pd

In [66]:
pd.read_pickle('test_data.pkl')

,age,cheque_count_12m_g20,cheque_count_12m_g21,cheque_count_12m_g25,cheque_count_12m_g32,cheque_count_12m_g33,cheque_count_12m_g38,cheque_count_12m_g39,cheque_count_12m_g41,cheque_count_12m_g42,...,sale_sum_6m_g26,sale_sum_6m_g32,sale_sum_6m_g33,sale_sum_6m_g44,sale_sum_6m_g54,stdev_days_between_visits_15d,stdev_discount_depth_15d,stdev_discount_depth_1m,target,treatment
0,47.0,3.0,22.0,19.0,3.0,28.0,8.0,7.0,6.0,1.0,...,237.25,283.84,3648.23,1195.37,535.42,1.7078,0.2798,0.3008,0,test
1,57.0,1.0,0.0,2.0,1.0,1.0,1.0,0.0,1.0,0.0,...,58.71,87.01,179.83,0.00,122.98,0.0000,0.0000,0.0000,0,test
2,38.0,7.0,0.0,15.0,4.0,9.0,5.0,9.0,14.0,7.0,...,83.37,593.13,1217.43,1336.83,3709.82,0.0000,NaN,0.0803,0,control
3,65.0,6.0,3.0,25.0,2.0,10.0,14.0,11.0,8.0,1.0,...,360.40,175.73,496.73,172.58,1246.21,0.0000,0.0000,0.0000,0,test
4,61.0,0.0,1.0,2.0,0.0,2.0,1.0,0.0,3.0,2.0,...,461.37,0.00,237.93,225.51,995.27,1.4142,0.3495,0.3495,0,test
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
687024,35.0,0.0,0.0,4.0,0.0,2.0,0.0,1.0,0.0,3.0,...,111.87,0.00,330.96,1173.84,119.99,2.6458,0.3646,0.3282,0,control
687025,33.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.00,0.00,0.00,0.00,28.01,0.0000,0.0000,0.0000,0,test
687026,36.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.00,0.00,0.00,449.01,0.00,0.0000,NaN,NaN,0,control
687027,37.0,0.0,1.0,2.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.00,0.00,0.00,0.00,0.00,0.0000,NaN,NaN,0,control
687028,40.0,0.0,1.0,0.0,0.0,2.0,0.0,0.0,2.0,2.0,...,0.00,0.00,228.47,752.32,596.86,0.0000,0.0000,0.0000,0,test

In [1]:
import pickle

In [2]:
import pandas as pd

In [4]:
data = pd.read_pickle("./test_data.pkl")

In [5]:
data

,age,cheque_count_12m_g20,cheque_count_12m_g21,cheque_count_12m_g25,cheque_count_12m_g32,cheque_count_12m_g33,cheque_count_12m_g38,cheque_count_12m_g39,cheque_count_12m_g41,cheque_count_12m_g42,...,sale_sum_6m_g26,sale_sum_6m_g32,sale_sum_6m_g33,sale_sum_6m_g44,sale_sum_6m_g54,stdev_days_between_visits_15d,stdev_discount_depth_15d,stdev_discount_depth_1m,target,treatment
0,47.0,3.0,22.0,19.0,3.0,28.0,8.0,7.0,6.0,1.0,...,237.25,283.84,3648.23,1195.37,535.42,1.7078,0.2798,0.3008,0,test
1,57.0,1.0,0.0,2.0,1.0,1.0,1.0,0.0,1.0,0.0,...,58.71,87.01,179.83,0.00,122.98,0.0000,0.0000,0.0000,0,test
2,38.0,7.0,0.0,15.0,4.0,9.0,5.0,9.0,14.0,7.0,...,83.37,593.13,1217.43,1336.83,3709.82,0.0000,NaN,0.0803,0,control
3,65.0,6.0,3.0,25.0,2.0,10.0,14.0,11.0,8.0,1.0,...,360.40,175.73,496.73,172.58,1246.21,0.0000,0.0000,0.0000,0,test
4,61.0,0.0,1.0,2.0,0.0,2.0,1.0,0.0,3.0,2.0,...,461.37,0.00,237.93,225.51,995.27,1.4142,0.3495,0.3495,0,test
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
687024,35.0,0.0,0.0,4.0,0.0,2.0,0.0,1.0,0.0,3.0,...,111.87,0.00,330.96,1173.84,119.99,2.6458,0.3646,0.3282,0,control
687025,33.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.00,0.00,0.00,0.00,28.01,0.0000,0.0000,0.0000,0,test
687026,36.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.00,0.00,0.00,449.01,0.00,0.0000,NaN,NaN,0,control
687027,37.0,0.0,1.0,2.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.00,0.00,0.00,0.00,0.00,0.0000,NaN,NaN,0,control
687028,40.0,0.0,1.0,0.0,0.0,2.0,0.0,0.0,2.0,2.0,...,0.00,0.00,228.47,752.32,596.86,0.0000,0.0000,0.0000,0,test

In [6]:
from sklearn.base import BaseEstimator

In [8]:
def BaseUpliftEstimator(BaseEstimator):
    def __init__(self):
        pass
    def compute_ate(self):
        pass

In [ ]:
def SLearner(BaseUpliftEstimator):
    def __init__(
        self,
        model_class,
        treatment_col=None,
        target_col=None,
    ):
        self.model_class = model_class
        self.model_args = model_args
        self.treatment_col = treatment_col
        self.target_col = target_col
    
    def fit(
        self, 
        
    ):
        pass